body {
  background-color: black;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

#canvas {
  background-color: #2a5;
}

button {
  display: inline-block;
  background-color: white;
  font-size: 30px;
  padding: 5px 7px 7px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1); /* Apply scale effect on hover and click */
  transition: transform 0.1s ease; /* Add transition for smooth animation */
}


/* Styles for btn-dispose */
#btn-dispose:hover,
#btn-dispose:active {
  background-color: lightblue; /* Change background color on hover and click */
  color: white; /* Change text color on hover and click */
}

/* Styles for btn-save */
#btn-save:hover,
#btn-save:active {
  background-color: lightgreen; /* Change background color on hover and click */
  color: white; /* Change text color on hover and click */
}

.file-input-label {
  display: inline-block;
  position: relative;
  background-color: white;
  font-size: 30px;
  padding: 5px 7px 7px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.file-input-label:hover {
  transform: scale(1.1); /* Scale down to 90% on hover */
  background-color: lightcoral; /* Change background color on hover and click */
}

.file-input-label input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0;
  cursor: pointer;
}

#controls {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%; /* Ensures the controls fill the entire height of the viewport */
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 10px; /* Adjust padding as needed */
  background-color: #cecece; /* Background color for the controls */
}
